.Favorites-container {
  background-color: teal;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
}

.Favorites-container > div {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 150px;
  margin: 10px;
}
.Favorites-container > div > img {
  width: 100%;
}
